wx.config({
            debug: false,
            appId: '{{ appId }}',
            timestamp: '{{ timestamp }}',
            nonceStr: '{{ nonceStr }}',
            signature: '{{ signature }}',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'openLocation',
                'getLocation',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo'
              ]
        });